@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap')
	;

* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.action {
	position: fixed;
	bottom: 50px;
	left: 50px;
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 50%;
	cursor: pointer;
	z-index: 111;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

.action span {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #a13dea;
	font-size: 2em;
	transition: 0.3s ease-in-out;
}

.action.active span {
	transform: rotate(135deg);
}

.action ul {
	position: absolute;
	bottom: 55px;
	background: #fff;
	min-width: 175px;
	padding: 20px;
	border-radius: 20px;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
	box-shadow: 1px 2px 1px 2px rgba(0,0,0,.3);
}

.action.active ul {
	opacity: 1;
	visibility: visible;
	transition: 0.3s;
}

.action.active ul li {
	list-style: none;
	justify-content: flex-start;
	align-items: center;
	transition: 0.3s;
	background: #fff;
	font-size: 2rem;
}

.action ul li:hover {
	font-weight: 600;
}

.action ul li:not:last-child {
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.action ul li i {
	margin-right: 10px;
	opacity: 0.4;
	transform: scale(0.8);
}

.action ul li:hover i {
	opacity: 1;
}