@charset "UTF-8";
/* HTML5 display-role reset for older browsers */
*{
	box-sizing: border-box !important;
}
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: ’’;
	content: none;
}
/* remember to define visible focus styles! 
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------------------*\
    $MAIN
\*------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
	
	max-width: 1240px;
	font-family: 'Roboto', sans-serif;
}

/* Typography */
h1 {
	font-size: 28px;
	font-weight: 300;
	flex: 1;
}

h5 {
	font-weight: 500;
	line-height: 1.7em;
}

h6 {
	color: #666;
	font-size: 14px;
}

/* Product Layout */
.product-filter {
	display: flex;
	padding: 30px 0;
}

.sort {
	display: flex;
	align-self: flex-end;
}

.collection-sort {
	display: flex;
	flex-direction: column;
}

.collection-sort:first-child {
	padding-right: 20px;
}

label {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	line-height: 2em;
	text-transform: uppercase;
}

.products {
	display: flex;
	flex-wrap: wrap;
}

.product-card {
	display: flex;
	flex-direction: column;
	padding: 2%;
	flex: 1 16%;
	background-color: #FFF;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
}

.product-image img {
	width: 100%;
}

.product-info {
	margin-top: auto;
	padding-top: 20px;
	text-align: center;
}

@media ( max-width : 920px ) {
	.product-card {
		flex: 1 21%;
	}
	.products .product-card:first-child, .products .product-card:nth-child(2)
		{
		flex: 2 46%;
	}
}

@media ( max-width : 600px ) {
	.product-card {
		flex: 1 46%;
	}
}

@media ( max-width : 480px ) {
	h1 {
		margin-bottom: 20px;
	}
	.product-filter {
		flex-direction: column;
	}
	.sort {
		align-self: flex-start;
	}
}